body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 30px; */
    /* margin: 0; */
    /* text-align: center; */
    /* color: #293c4b; */
}

img {
    /* margin: 20px 0; */
    /* max-width: 200px; */
}


.item {
    font-weight: 600;
}

.item p {
    font-weight: 100;
}


#cover-empty {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #fff;
    height: 30px;
    border: 0px solid #fff;
    left: -3px;
    box-shadow: none;
}

#timeline {
    height: 2000px;
}


.bar-area {
    fill: transparent;
    visibility: hidden;
}

.bar-label {
    margin: 5px 0;
}

.title-wrapper {
    background-color: #E5E5E5;
    margin-bottom: 30px;
}

.app-title {
    margin: 20px 0;
}

#pm-commentary-group,
#schedule-commentary-group {
    position: relative;
}

#pm-commentary-save-btn,
#schedule-commentary-save-btn {
    position: absolute;
    top: 40px;
    right: 2px;
    opacity: 0.5;
}

#pm-commentary-label,
#schedule-commentary-label {
    float: left;
    font-size: 20px;
}

#pm-commentary,
#schedule-commentary {
    margin-bottom: 30px;
    padding-right: 40px;
}


.badge {
    position: absolute;
    top: 40px;
    text-align: center;
    font-size: 13px;
    right: 2px;
}


/* select { */


/*     background-color: #31B0D5 !important; */


/*     color: #FFF !important; */


/* } */


/* option { */


/*     background-color: #FFF !important; */


/*     color: #000 !important; */


/*     border-radius: 2px !important; */


/* } */